<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tickets</title>
    <style>
        table, td, th {
            border: 1px solid black
        }

        td {
            text-align: center;
            vertical-align: middle;
            padding: 10px;
        }
    </style>
</head>
<body>
<div>
    <h1>Tickets</h1>
</div>
Total Ticket Count = {{ context['total_posts_count'] }} <br>
Currently displaying {{ context['current_page_count'] }} ticket(s) on this page <br><br>

{% if context['prev_flag'] %}
    <a href="/back">Back</a>
{% endif %}
{% if context['next_flag'] %}
    <a href="/next">Next</a>
{% endif %}
<br>

<div>
    <table>
        <tr>
            <th>Ticket ID</th>
            <th>Subject</th>
            <th>Requester</th>
        </tr>
        {% for row in context['tickets'] %}
            <tr>
                <td> {{ row['id'] }} </td>
                <td><a href="/ticket/{{ row['id'] }}"> {{ row['subject'] }} </a></td>
                <td>{{ requester_names[row['requester_id']] }}</td>
            </tr>

        {% endfor %}
    </table>
    <br>
    {% if context['prev_flag'] %}
        <a href="/back">Back</a>
    {% endif %}
    {% if context['next_flag'] %}
        <a href="/next">Next</a>
    {% endif %}
</div>
</body>
</html>