<!DOCTYPE html>
<html lang="en">
<head>
    <title>Posts</title>
    <style>
        table, td, th {
            border: 1px solid black
        }

        td {
            text-align: center;
            vertical-align: middle;
            padding: 10px;
        }
    </style>
</head>
<body>
<div>
    <h1>Posts</h1>
</div>
Total Ticket Count = {{ total_posts_count }} <br>
Currently displaying {{ current_page_count }} tickets on this page <br><br>

{% if prev_flag %}
    <a href="/posts/back">Back</a>
{% endif %}
{% if next_flag %}
    <a href="/posts/next">Next</a>
{% endif %}
<br>

<div>
    <table>
        <tr>
            <th>Ticket ID</th>
            <th>Subject</th>
            <th>Requester</th>
        </tr>
        {% for row in posts %}
            <tr>
                <td> {{ row['id'] }} </td>
                <td><a href="/posts/show/{{ row['id'] }}"> {{ row['subject'] }} </a></td>
                <td>{{ requester_names[row['requester_id']] }}</td>
            </tr>

        {% endfor %}
    </table>
    <br>
    {% if prev_flag %}
        <a href="/posts/back">Back</a>
    {% endif %}
    {% if next_flag %}
        <a href="/posts/next">Next</a>
    {% endif %}
</div>
</body>
</html>