<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <style>
        table, td, th {
            border: 1px solid black
        }

        td {
            text-align: center;
            vertical-align: middle;
            padding: 10px ;
            width: 200px;
        }
    </style>
</head>
<body>
<h1>{{ post['subject'] }}</h1>

<table>
    <tr>
        <td>Requester name</td>
        <td>{{ requester_name }}</td>
    </tr>
    <tr>
        <td>Ticket ID</td>
        <td>{{ post['id'] }}</td>
    </tr>
    <tr>
        <td>Subject </td>
        <td>{{ post['subject'] }}</td>
    </tr>
    <tr>
        <td>Description </td>
        <td>{{ post['description'] }}</td>
    </tr>
</table>
<br>
<a href="/posts">< Back to all posts</a>
</body>
</html>